body {
  font-size: 16px;
  line-height: 1.5;
}
header {
  position: fixed;
}
header.navbar-default {
  background: transparent;
  border: none;
}
nav a.navbar-brand {
  height: 100%;
  padding: 15px 0;
}
nav .navbar-nav > li > a {
  opacity: 0.8;
  color: #ffffff;
  line-height: 70px;
  padding: 0 10px;
}
.slider {
  width: 100%;
  height: 600px;
  background-image: url(img/banner.jpg);
  background-size: cover;
}
